# Envrionnement Virtuel
myenv/

# Fichiers secrets
pycache/
*.pyc
*.log

# Fichiers temporaires
*.mp4
*.avi
*.mkv
*.wav
*.mp3

VideosFinis/

# Configs d’éditeurs
.vscode/

# Dépendances Python
# ⚠️ Nécessite aussi ffmpeg installé sur votre système !
#   - Windows : https://ffmpeg.org/download.html (ajouter au PATH)
#   - Linux   : sudo apt install ffmpeg -y
#   - MacOS   : brew install ffmpeg